
.Topbar {
    display: flex;
    height: 40px;
    width: 100%;
    background-color: rgb(120, 120, 120);
    align-items: center;
    justify-content: right
    
}
.avatar {
    /* position: relative; */
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background-color: grey;
    /* background-image: url('Whatsapp.jpeg'); */
    background-size: cover;
    display: inline-block;
    box-sizing: border-box;
    /* background-position: center; */
    
}
.backButton {
    display: flex;
    height: 45px ;
    width: 40px;
    padding: 5px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}
