.topbarchannel {
    display: flex;
    height: 40px;
    width: 100%;
    background-color: rgb(120, 120, 120);
    text-align: left;
    flex-direction: row;
    /* padding: 5px 10px; */
    box-sizing: border-box;
    
}
.avatar {
    /* position: relative; */
    display: inline-block;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background-color: grey;
    /* background-image: url('Whatsapp.jpeg'); */
    background-size: cover;
    box-sizing: border-box;
    background-position: center;
    
}

.avatarBack {
    display: inline-block;
    height: 100%;
    width: 60px;
    /* padding: 10px 10px; */
    box-sizing: border-box;
    text-align: center;
    
    
}
.backButton {
    display: flex;
    height: 45px ;
    width: 40px;
    padding: 5px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}


.icon {
    height: 18px;
    width: 18px;
    color: var(--iconcolor)
}
.contactInfo {
    display: inline-block;
    height: 100%;
    width: 50%;
    flex: 1;
    min-width: 80px;  
}

.calls {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: right;
    border-left: 1px solid rgb(60,120,0) 
}
